<div class="container py-3" *ngIf="!player">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <h3>Lade Spielerprofil...</h3>
    </div>
  </div>
</div>

<div class="container py-3" *ngIf="player">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8">

      <div class="row">
        <div class="col">
          <h4>{{ player.firstName }}'s persönlicher Bereich</h4>
          <hr>
        </div>
      </div>

      <!-- This area only appears when there is no active challenge on this player. -->
      <div class="row" *ngIf="player.challenged === false">
        <div class="col">
          <h5>Dein aktueller Rang:
            <span class="badge badge-success">{{ player.rank }}</span>
          </h5>
          <button class="btn btn-primary my-2" style="cursor: pointer" routerLink="/challenge">Einen Spieler fordern</button>
          <div class="alert alert-warning">
            <span class="small">Wenn Du forderst und Dein Spiel verlierst, warte bitte 1-2 Tage bis Du neu forderst, damit Spieler hinter Dir
              die Chance haben, Dich zu fordern.</span>
          </div>
        </div>
      </div>

      <!-- This area only appears when there exists an active challenge. -->
      <div class="row justify-content-center" *ngIf="player.challenged === true">
        <div class="col">

          <div class="row">
            <div class="col">
              <div class="alert alert-warning text-center">
                Du hast momentan ein offenes Ranglistenspiel gegen
                <span class="font-weight-bold">{{ player.activeChallenge.opponentsFirstName }} {{ player.activeChallenge.opponentsLastName }}
                </span>.
              </div>
            </div>
          </div>

          <!-- Entering score of current challenge. -->
          <div class="row justify-content-center">
            <div class="col">
              <p class="text-center">
                <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#expandScoreButton">
                  Sieger eintragen
                </button>
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <div class="collapse" id="expandScoreButton">
                <form #selectWinnerForm="ngForm" data-toggle="validator">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="selectWinner" id="selectPlayer" value="winnerIsPlayer" required [(ngModel)]="winner"> {{ player.firstName }} {{ player.lastName }}
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="selectWinner" id="selectOpponent" value="winnerIsOpponent" required [(ngModel)]="winner"> {{ player.activeChallenge.opponentsFirstName }} {{ player.activeChallenge.opponentsLastName }}
                    </label>
                  </div>
                  <div class="form-group small text-muted mb-1">
                    Bitte das Ergebnis aus der Sicht des Siegers eintragen:
                  </div>
                  <!-- Set 1 -->
                  <div class="input-group">
                    <div class="input-group-addon" style="width: auto;">
                      Satz 1
                    </div>
                    <input type="number" class="form-control" id="setOneWinner" min="0" max="30" maxlength="2" [(ngModel)]="setOneWinner" name="setOneWinner">
                    <div class="input-group-addon" style="width: auto;">
                      :
                    </div>
                    <input type="number" class="form-control" id="setOneLoser" min="0" max="30" maxlength="2" [(ngModel)]="setOneLoser" name="setOneLoser">
                  </div>
                  <!-- Set 2 -->
                  <div class="input-group">
                    <div class="input-group-addon" style="width: auto;">
                      Satz 2
                    </div>
                    <input type="number" class="form-control" id="setTwoWinner" min="0" max="30" maxlength="2" [(ngModel)]="setTwoWinner" name="setTwoWinner">
                    <div class="input-group-addon" style="width: auto;">
                      :
                    </div>
                    <input type="number" class="form-control" id="setTwoLoser" min="0" max="30" maxlength="2" [(ngModel)]="setTwoLoser" name="setTwoLoser">
                  </div>
                  <!-- Set 3 -->
                  <div class="input-group">
                    <div class="input-group-addon" style="width: auto;">
                      Satz 3
                    </div>
                    <input type="number" class="form-control" id="setThreeWinner" min="0" max="30" maxlength="2" [(ngModel)]="setThreeWinner"
                      name="setThreeWinner">
                    <div class="input-group-addon" style="width: auto;">
                      :
                    </div>
                    <input type="number" class="form-control" id="setThreeLoser" min="0" max="30" maxlength="2" [(ngModel)]="setThreeLoser" name="setThreeLoser">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-outline-danger mt-2" [disabled]="!selectWinnerForm.form.valid" data-toggle="modal" data-target="#winnerModal">
                      Senden
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Winner-Confirmation. -->
      <div class="modal fade" id="winnerModal" *ngIf="player.challenged === true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sieger bestätigen:</h5>
            </div>
            <div class="modal-body">
              <div *ngIf="winner === 'winnerIsPlayer'" class="alert alert-warning text-center">
                <h4>
                    {{ player.firstName }} {{ player.lastName }}
                </h4>
              </div>
              <div *ngIf="winner === 'winnerIsOpponent'" class="alert alert-warning text-center">
                <h4>
                    {{ player.activeChallenge.opponentsFirstName }} {{ player.activeChallenge.opponentsLastName }}
                </h4>
              </div>
              <p>
                gewinnt mit
              </p>
              <div class="list-group-item list-group-item-warning text-center">
                <span class="font-weight-bold">
                  <h4 *ngIf="!setThreeWinner">
                    {{ setOneWinner }} : {{ setOneLoser }}, {{ setTwoWinner }} : {{ setTwoLoser }}
                  </h4>
                  <h4 *ngIf="setThreeWinner">
                    {{ setOneWinner }} : {{ setOneLoser }}, {{ setTwoWinner }} : {{ setTwoLoser }}, {{ setThreeWinner }} : {{ setThreeLoser }}
                  </h4>
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" data-dismiss="modal" (click)="selectWinner()">Bestätigen</button>
              <button class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end. -->

      <!-- Form (user details) -->
      <div class="row">
        <div class="col">
          <form [formGroup]="personalForm" novalidate>

            <div class="row">
              <div class="col">
                <hr>
                <h5>Dein Spielerprofil:</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-10 col-sm-8">
                <div class="input-group my-1">
                  <span class="input-group-addon">Vorname:</span>
                  <input type="text" class="form-control" formControlName="firstName">
                </div>
                <div class="input-group my-1">
                  <span class="input-group-addon">Nachname:</span>
                  <input type="text" class="form-control" formControlName="lastName" id="firstname">
                </div>
                <div class="input-group my-1">
                  <span class="input-group-addon">Email:</span>
                  <input class="form-control" type="text" placeholder="{{ personalForm.value.email }}" readonly>
                </div>
                <div class="input-group my-1" *ngIf="personalForm.value.gender === 'male'">
                  <span class="input-group-addon">Rangliste:</span>
                  <input class="form-control" type="text" placeholder="Gesamt" readonly>
                </div>
                <div class="input-group my-1" *ngIf="personalForm.value.gender === 'female'">
                  <span class="input-group-addon">Rangliste:</span>
                  <input class="form-control" type="text" placeholder="Damen" readonly>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <!-- Button trigger modal for update -->
                <button class="btn btn-outline-success mb-1" type="submit" data-toggle="modal" data-target="#updatePlayer" style="cursor: pointer">
                  Aktualisieren
                </button>
                <!-- <button class="btn btn-outline-secondary mb-1" type="button" data-toggle="modal" data-target="#updateEmail" disabled>
              Passwort ändern
            </button> -->
                <!-- <button class="btn btn-outline-secondary mb-1" type="button" data-toggle="modal" data-target="#updatePicture" disabled>
              Profilbild hochladen
            </button> -->
                <!-- Button trigger modal for delete -->
                <!-- <button class="btn btn-outline-danger mb-1" data-toggle="modal" data-target="#deletePlayer" style="cursor: pointer" disabled>
                  {{player.firstName}} Löschen
                </button> -->
              </div>
            </div>

            <!-- Modal for update -->
            <div class="modal fade" id="updatePlayer" tabindex="-1" role="dialog" aria-labelledby="updatePlayer" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateLabel">Spielerdaten aktualisieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ player.firstName }}, möchtest Du Deine Daten wirklich aktualisieren?
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" (click)="onUpdate()">Aktualisieren</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal for delete -->
            <div class="modal fade" id="deletePlayer" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteLabel">Spieler löschen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ player.firstName }}, möchtest Du Deinen gesamten Account unwiderruflich löschen?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="onDelete()" data-dismiss="modal">{{ player?.firstName }} löschen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>


    </div>
  </div>

</div>
