.heading {
  margin-bottom: 20px;
}

.h-link {
  background: limegreen;
}

a {
  text-decoration: none;
}

.with-background {
  background-image: url('/assets/images/rw-logo-blur.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.home-heading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  padding: 0.5em;
  width: 100%;
}

.home-content {
  font-size: 1.25em;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  padding: 0.5em;
}

.rules-start {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  padding: 15px;
}
