.heading {
  margin-bottom: 20px;
}

.container {
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("/assets/images/rww-logo.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.h-link {
  background: limegreen;
}

a {
  text-decoration: none;
}

.message {
  color: white;
  background: #0064D0;
  height: 60vh;
}
