<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let player of players | async" class="list-group-item">
        <div class="row">
          <div class="col-xs-8">
            <input type="text" class="form-control" #updatename [value]="player.firstName">
          </div>
          <div class="col-xs-4">
            <button class="btn btn-primary" (click)="onUpdate(player.$key, updatename.value)">Update</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let player of players | async">{{ player.firstName }}</li>
    </ul>
  </div>
</div>