<footer class="bg-inverse text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md3 col-sm-6 pl-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
        </ul>
      </div>
      <div class="col-md3 col-sm-6 pl-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 ml-auto text-right">
        <small class="text-uppercase">Connect on social media</small>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-facebook fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 text-right small">
        @2017 Scarydesign.de
      </div>
    </div>
  </div>
</footer>