<div class="container py-3">

  <div class="row justify-content-center">

    <!-- Side-Navigation -->
    <div class="col-auto mb-3">
      <div class="nav nav-pills bg-light" id="tab" role="tablist" aria-orientation="horizontal">
        <a class="nav-link active" id="active-tab" data-toggle="pill" href="#active" role="tab" aria-controls="active" aria-selected="true">Aktuell</a>
        <a class="nav-link" id="completed-tab" data-toggle="pill" href="#completed" role="tab" aria-controls="completed" aria-selected="true">Abgeschlossen</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-md-8 col-lg-6">
      <div class="tab-content" id="tab-content">

        <!-- Active challenges -->
        <div class="tab-pane fade show active" id="active" role="tabpanel">
          <ul class="list-group" *ngIf="(challengeList|async)?.length; else emptyChallengesTemplate">
            <li *ngFor="let challenge of challengeList | async" class="list-group-item text-center mb-2">
              <strong>{{ challenge.challengerFullName }}</strong> fordert
              <strong>{{ challenge.challengedFullName }}</strong>
              <p class="mb-0">
                <i>- {{ challenge.dateOfChallengeRequest }} -</i>
              </p>
            </li>
          </ul>
        </div>

        <ng-template #emptyChallengesTemplate>
          <div class="list-group-item text-center">
            Aktuell gibt es keine Forderungen.
          </div>
        </ng-template>

        <!-- Completed challenges -->
        <div class="tab-pane fade" id="completed" role="tabpanel">
          <ul class="list-group" *ngIf="(completedChallenges|async)?.length; else emptyCompletedChallengesTemplate">
            <li *ngFor="let completed of completedChallenges | async" class="list-group-item text-center mb-1 p-0 border-1 border-dark">
              <div class="card text-center">
                <div class="card-header">
                  <span class="font-weight-bold">
                    {{ completed.challenger }}
                  </span>
                  hat
                  <span class="font-weight-bold">
                    {{ completed.challengedPlayer }}
                  </span>
                  gefordert.
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="winner text-white bg-dark">
                      {{ completed.winner }}
                    </span>
                  </h5>
                  <p class="card-text" *ngIf="(completed.setThreeWinner === 0) && (completed.setThreeLoser === 0); else threeSets">gewinnt mit <span class="badge badge-pill badge-warning mx-1">{{ completed.setOneWinner }} : {{ completed.setOneLoser }}</span> und <span class="badge badge-pill badge-warning mx-1">{{ completed.setTwoWinner
                    }} : {{ completed.setTwoLoser }}</span>.
                  </p>
                  <ng-template #threeSets>
                    <p class="card-text">gewinnt mit <span class="badge badge-pill badge-warning mx-1">{{ completed.setOneWinner }} : {{ completed.setOneLoser }}</span>, <span class="badge badge-pill badge-warning mx-1">{{ completed.setTwoWinner
                      }} : {{ completed.setTwoLoser }}</span> und <span class="badge badge-pill badge-warning mx-1">{{ completed.setThreeWinner }} : {{ completed.setThreeLoser }}</span>.
                    </p>
                  </ng-template>
                </div>
                <div class="card-footer text-muted">
                  Ergebnis eingetragen am
                  <span class="font-weight-bold">{{ completed.dateOfCompletion }}</span>.
                </div>
              </div>
            </li>
          </ul>
        </div>

        <ng-template #emptyCompletedChallengesTemplate>
          <div class="list-group-item text-center">
            Hier gibt es noch keine Ergebnisse.
          </div>
        </ng-template>

      </div>
    </div>

  </div>
</div>
