<div class="container py-3">
  <div class="row justify-content-center">



  </div>

  <div class="row justify-content-center">

   <!-- Side-Navigation -->
   <div class="col-auto mb-3">
      <div class="nav nav-pills bg-light" id="tab" role="tablist" aria-orientation="horizontal">
        <a class="nav-link active" id="active-tab" data-toggle="pill" href="#active" role="tab" aria-controls="active" aria-selected="true">Aktuell</a>
        <a class="nav-link" id="completed-tab" data-toggle="pill" href="#completed" role="tab" aria-controls="completed" aria-selected="true">Abgeschlossen</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-md-8 col-lg-6">
      <div class="tab-content" id="tab-content">

        <!-- Active challenges -->
        <div class="tab-pane fade show active" id="active" role="tabpanel">
          <ul class="list-group" *ngIf="(challengeList|async)?.length; else emptyChallengesTemplate">
            <li *ngFor="let challenge of challengeList | async" class="list-group-item text-center mb-2">
              <strong>{{ challenge.challengerFullName }}</strong> fordert
              <strong>{{ challenge.challengedFullName }}</strong>
              <p class="mb-0">
                <i>- {{ challenge.dateOfChallengeRequest }} -</i>
              </p>
            </li>
          </ul>
        </div>

        <ng-template #emptyChallengesTemplate>
          <div class="list-group-item text-center">
            Aktuell gibt es keine Forderungen.
          </div>
        </ng-template>

        <!-- Completed challenges -->
        <div class="tab-pane fade" id="completed" role="tabpanel">
          <ul class="list-group" *ngIf="(completedChallenges|async)?.length; else emptyCompletedChallengesTemplate">
            <li *ngFor="let completed of completedChallenges | async" class="list-group-item text-center mb-2">
              <span class="badge badge-success winner" *ngIf="completed.winner == completed.challenger">
                {{ completed.challenger }}</span>
              <span *ngIf="completed.winner != completed.challenger">{{ completed.challenger }}</span> hat
              <span class="badge badge-success winner" *ngIf="completed.winner == completed.challengedPlayer">
                {{ completed.challengedPlayer }}</span>
              <span *ngIf="completed.winner != completed.challengedPlayer">{{ completed.challengedPlayer }}</span> am
              <span class="font-weight-bold">{{ completed.dateOfCompletion }}</span> gefordert.
            </li>
          </ul>
        </div>

        <ng-template #emptyCompletedChallengesTemplate>
          <div class="list-group-item text-center">
            Hier gibt es noch keine Ergebnisse.
          </div>
        </ng-template>

      </div>
    </div>

  </div>
</div>
