<div class="container py-3" *ngIf="playerObject">

  <div class="card" style="width: 20rem;">
    <div class="card-header">
      Dein aktueller Rang ist:
      <span class="badge badge-primary ml-1 mr-1">{{ playerObject.rank }}</span>
      . Laut
      <a class="badge badge-primary" routerLink="/">Regeln</a>
       darfst Du folgende Spieler herausfordern:
    </div>
    <div class="list-group">
      <app-opponent-detail *ngFor="let opponent of opponents|async; let i = index;" [opponent]='opponent' [player]='playerObject' [index]='i'></app-opponent-detail>
    </div>
  </div>

</div>
