<div class="container py-3" *ngIf="!formIsValid">
  <h4>Formular fehlerhaft! Bitte alle Felder korrekt ausfüllen.</h4>

</div>

<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <h5 class="text-center">Neuen Spieler erstellen:</h5>
      <br>
      <form [formGroup]="form" novalidate>

        <div class="input-group">
          <span class="input-group-addon" style="width: 120px;">Vorname</span>
          <input type="text" class="form-control" formControlName="firstName">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-addon" style="width: 120px;">Nachname</span>
          <input type="text" class="form-control" formControlName="lastName">
        </div>

        <div formGroupName="email">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
            <input type="email" class="form-control" formControlName="firstEmail" email placeholder="Email-Adresse">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
            <input type="email" class="form-control" formControlName="confirmEmail" email placeholder="Email-Adresse wiederholen">
          </div>
        </div>

        <div class="alert alert-warning small p-2 mb-1">
          Das Passwort muss mindestens 6 Zeichen lang sein!
        </div>

        <div formGroupName="password">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-lg"></i></span>
            <input type="password" class="form-control" formControlName="firstPassword" password placeholder="Passwort">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon"><i class="fa fa-key fa-lg"></i></span>
            <input type="password" class="form-control" formControlName="confirmPassword" password placeholder="Passwort wiederholen">
          </div>
        </div>

        <div class="alert alert-warning small p-2 mb-1">
          Die Damen können sich aussuchen ob sie in nur einer Rangliste mitspielen ("Gesamt" oder "Damen"), oder in beiden. Ihr braucht jedoch für jede Rangliste einen separaten Account.
        </div>

        <div class="input-group">
          <span class="input-group-addon" style="width: 120px;">Rangliste</span>
          <select name="gender" id="gender" class="form-control" formControlName="gender">
            <option value="male">Gesamt (Damen und Herren)</option>
            <option value="female">Damen</option>
          </select>
        </div>

        <div class="form-group py-2 text-right">
          <!-- Submit-button enables modal for confirmation. -->
          <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#signupConf">Senden</button>
          <button class="btn btn-outline-secondary" type="button" (click)="onReset()">Reset</button>
        </div>

        <!-- Modal for signup-confirmation. -->
        <div class="modal fade" id="signupConf" tabindex="-1" role="dialog" aria-labelledby="signupConf" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  Spieler erstellen
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ form.value.firstName }} erstellen?
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" type="button" data-dismiss="modal" (click)="onSubmit()">Erstellen</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
