<div class="container py-3">
  <div class="row">
    <div class=" col-xs-12 col-sm-10 col-md-8">

      <div class="card text-center">

        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#overview" data-toggle="tab">Übersicht</a>
            </li>
            <li class="nav-item">
              <a href="#edit" class="nav-link" data-toggle="tab">Editieren</a>
            </li>
          </ul>
        </div>

        <div class="card-block tab-content">
          <div class="tab-pane active fade in show" id="overview">
            <h5 class="card-title">Spielerprofil von {{ player.firstName }} {{ player.lastName }}</h5>
            <p class="card-text">Aktueller Rang: {{ player.rank }}</p>
          </div>
          <div class="tab-pane" id="edit">

            <div class="container">

              <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <div class="form-group row">
                  <label for="fName" class="col-sm-2 col-form-label col-form-label-sm">Vorname</label>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="firstName" id="fName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lName" class="col-sm-2 col-form-label col-form-label-sm">Nachname</label>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="lastName" id="lName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="email" id="email">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="rank" class="col-sm-2 col-form-label col-form-label-sm">Rang</label>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="rank" id="rank">
                  </div>
                </div>
             

                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#update" data-whatever="@mdo" (click)="onUpdate()">Update</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" data-whatever="@fat">Delete</button>
                <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>

                <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Neue Nachricht</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Spieler wurde aktualisert!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/admin">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Neue nachricht</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Spieler wirklich löschen?
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-danger" (click)="onDelete()" data-dismiss="modal">Ja, Spieler löschen!</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                      </div>
                    </div>
                  </div>
                </div>


              </form>

            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>