/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

tr.table-row:hover {
  background:lightcoral;
}

.myHeader {
  font-family: 'Oswald', sans-serif;
}
