<div class="container py-3">
  <div class="row justify-content-center bg-light">
    <div class="col-md-8 col-lg-6">
      <div class="nav nav-pills bg-light justify-content-center" id="tab" role="tablist" aria-orientation="horizontal">
        <a class="nav-link active" id="all" data-toggle="pill" href="#table" role="tab" aria-controls="table" aria-selected="true"
          (click)="onChangeToMale()">Rangliste Gesamt</a>
        <a class="nav-link" id="ladies" data-toggle="pill" href="#table" role="tab" aria-controls="table" aria-selected="true" (click)="onChangeToFemale()">Rangliste Damen</a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center py-2">
    <div *ngIf="!(players|async)?.length">
      <h5 class="myHeader">Lade Spielerdaten...</h5>
    </div>
    <div class="col-md-8 col-lg-6" *ngIf="(players|async)?.length">
      <div class="tab-content">
        <div class="tab-pane active fade in show" id="table">
          <table class="table table-striped table-dark text-center table-bordered table-hover">
            <caption>
              <ul>
                <li>OR (Ohne Rang): Spieler ist freigeschaltet.</li>
                <li>NEU: Spieler wurde noch nicht freigeschaltet.</li>
              </ul>
            </caption>
            <thead class="bg-secondary">
              <tr>
                <th>Rang</th>
                <th>Name</th>
                <th>anstehende Forderung</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players | async | sortPlayers">
                <th scope="row" *ngIf="player.rank < 999">{{ player.rank }}</th>
                <th scope="row" *ngIf="player.rank === 999">
                  <div class="text-info">OR*</div>
                </th>
                <th scope="row" *ngIf="player.rank === 9999">
                  <div class="text-success">NEU*</div>
                </th>
                <td>{{ player.firstName }} {{ player.lastName }}</td>
                <td>
                  <!-- <i *ngIf="player.challenged === false" class="fa fa-times text-muted" aria-hidden="true"></i> -->
                  <div *ngIf="player.challenged === true" class="font-italic text-muted">
                    {{ player.activeChallenge.opponentsFirstName }} {{ player.activeChallenge.opponentsLastName }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
