<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

      <div class="list-group">
          <div
            class="d-flex w-100 justify-content-between"
            *ngFor="let player of players | async | sortPlayers">
            <h5><span class="label label-primary">{{ player.rank }}</span></h5>
            <h5>{{ player.firstName }} {{ player.lastName }}</h5>
            <a [routerLink]="['/players','detail']" (click)="onDetail(player)"><i class="fa fa-eye"></i></a>
          </div>
      </div>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>